---
title: "All Guides"
---

<div class="container">
  <h1 class="mb-4 text-primary">
    <i class="fas fa-books mr-2"></i>
    Battle Guides
  </h1>

  <div class="row">
    <% data.article.battle_guides.each do |article| %>
      <div class="col-12 col-md-6 col-xl-4">
        <a href="/type-weakness">
          <div class="card card-with-shadow border-0 bg-white mb-3">
            <%= image_tag article.cover, class: 'w-100', style: 'opacity: 0.9' %>
            <div class="card-body">
              <h5 class="card-title text-dark"><%= article.title %></h5>
              <p class="card-text text-muted">
                <%= article.excerpt %>
              </p>

              <small class="text-info">
                อัพเดทเมื่อ: <%= article.updated_at %>
              </small>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
