---
title: "All Guides"
---

<div class="container">
  <h3 class="mb-4">
    <i class="fas fa-books mr-2"></i>
    Battle Guides
  </h3>

  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <a href="/type-weakness">
        <div class="card bg-dark mb-3">
          <%= image_tag 'types/cover.jpg', class: 'w-100' %>
          <div class="card-body">
            <h5 class="card-title text-primary">ประเภทของโปเกมอน</h5>
            <p class="card-text">
              <small class="text-muted">
                ประเภททั้งหมดของโปเกมอนและประเภทที่ควรเลือกมาต่อสู้ด้วย
              </small>
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <a href="/rocket-grunts-guide">
        <div class="card bg-dark mb-3">
          <%= image_tag 'rocket-grunt/cover.jpg', class: 'w-100' %>
          <div class="card-body">
            <h5 class="card-title text-primary">
              วิธีต่อสู้ GO Rocket Grunts
            </h5>
            <p class="card-text">
              <small class="text-muted">
                ชุดของโปเกมอนที่ GO Rocket Grunts ใช้และวิธีเลือกโปเกมอนเพื่อต่อสู้
              </small>
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <a href="/rocket-bosses-guide">
        <div class="card bg-dark mb-3">
          <%= image_tag 'rocket-boss/cover.jpg', class: 'w-100' %>
          <div class="card-body">
            <h5 class="card-title text-primary">
              วิธีต่อสู้ GO Rocket Boss
            </h5>
            <p class="card-text">
              <small class="text-muted">
                ชุดของโปเกมอนที่ GO Rocket Boss ใช้และวิธีเลือกโปเกมอนเพื่อต่อสู้
              </small>
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 col-xl-4 d-none">
      <a href="/jessie-james-guide">
        <div class="card bg-dark mb-3">
          <%= image_tag 'jessie-james/cover.jpg', class: 'w-100' %>
          <div class="card-body">
            <h5 class="card-title text-primary">
              Jessie & James Guide
            </h5>
            <p class="card-text">
              <small class="text-muted">
                Jessie and James Pokémon line-up and recommended counter.
              </small>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
